.loginSection {
    width: 40%;
    color: black;
    margin: auto;
    margin-top: 6rem;
}


.loginForm {
    display: flex;
    flex-flow: column;
    margin: auto;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-family: "Poppins";
}

.inputDiv {
    composes: inputDiv from '../../../commonCSS/common.css';
}

.label {
    composes: label from '../../../commonCSS/common.css';
}

.input {
    composes: input from "../../../commonCSS/common.css"
}

.btn {
    margin-top: 3rem;
    composes: btn from "../../../commonCSS/common.css"
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
}

.hintBtn {
    text-align: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-family: "Poppins";
    font-style: italic;
    cursor: pointer;
}

.hintText {
    text-align: center;
    font-size: 1.2rem;
    color: #23b474;
}

.points {
    font-size: 1.5rem;
}

.question {
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

.hidden {
    display: none
}

.show {
    display: block
}

.endMsg {
    color: black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* width: 60%; */
    /* height: 20%; */
    /* font-size: 4rem; */
    margin-top: 7rem;
}

.endMsg>p {
    font-family: "Poppins";
    color: black;
    font-size: 2rem;
    margin: -5px;
}

.finalTitle {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'Pacifico', cursive;
}

.wrongInput {
    border: 2px solid #ff272f
}

.wrongLabel {
    text-align: center;
    color: #ff272f
}

.endAsset {
    margin-top: 2rem;
    width: 25%;
}