.adminNavDiv {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.adminNavUl {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.adminNavLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 2rem;
}

.divider {
    width: 1px;
    height: 100%;
    border: solid black 1px;
    margin: 0rem 2rem;
}

.adminNavLink:hover {
    color: #ffc814;
}

@media only screen and (max-width: 400px) {
    .adminNavDiv {
        width: 100%;
        margin-top: 2rem;
    }

    .divider {
        margin: 0rem 0.5rem;
    }

    .adminNavLink {
        font-size: 1.2rem;
    }

    .adminNavUl {
        padding: 0;
    }

}