* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

.adminRiddleSelectionWrapper {
    position: relative;
    width: 80%;
    margin: auto;
}

.space {
    height: 7rem;
}

.adminRiddleSelection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.tableWrapper {
    overflow: hidden;
    width: 100%;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 4rem;
}

.flTable {
    white-space: nowrap;
    width: 100%;
    font-weight: normal;
    font-size: 1.2rem;
    border-collapse: collapse;
    background-color: white;
}

.flTable td, .flTable th {
    text-align: center;
    padding: 8px;
}

.flTable td {
    font-size: 20px;
}

.flTable thead th {
    color: #ffffff;
    background: black;
}

.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

@media only screen and (max-width: 400px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .adminRiddleSelectionWrapper {
        width: 100%;
        padding: 0 1rem;
    }

    .flTable, .flTable td {
        font-size: 14px;
    }

    .flTable td, .flTable th {
        padding: 5px;
    }
}