* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.adminRiddleSelectionWrapper {
    width: 60%;
    position: relative;
    margin: auto;

}

.space {
    height: 7rem;
}

.adminRiddleSelection {
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30rem; */
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.tableWrapper {
    margin-top: 4rem;
    color: black;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

.flTable {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}


.flTable td, .flTable th {
    padding: 8px;
}

.flTable td {
    font-size: 20px;
}

.flTable thead th {
    text-align: center;
    color: #ffffff;
    background: black;
}


.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: black;

}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

.addBtn {
    height: 50px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 100;
    color: white;
    background: black;
    border-radius: 30px;
    padding: 8px 50px;
    margin-top: 1rem;
}

@media (max-width: 767px) {
    .flTable {
        display: block;
        width: 100%;
    }

    .tableWrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .flTable thead, .flTable tbody, .flTable thead th {
        display: block;
    }

    .flTable thead th:last-child {
        border-bottom: none;
    }

    .flTable thead {
        float: left;
    }

    .flTable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .flTable td, .flTable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .flTable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .flTable tbody tr {
        display: table-cell;
    }

    .flTable tbody tr:nth-child(odd) {
        background: none;
    }

    .flTable tr:nth-child(even) {
        background: transparent;
    }

    .flTable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .flTable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .flTable tbody td {
        display: block;
        text-align: center;
    }
}