* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.adminRiddleSelectionWrapper {
    position: relative;
    margin: auto;
    width: 60%;
}

.space {
    height: 7rem;
}

.adminRiddleSelection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn {
    composes: btn from "../../../commonCSS/common.css"
}

.tableWrapper {
    overflow: hidden;
    color: black;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 4rem;
}

.flTable {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    background-color: white;
}

.flTable td, .flTable th {
    padding: 8px;
}

.flTable td {
    font-size: 20px;
}

.flTable thead th {
    text-align: center;
    color: #ffffff;
    background: black;
}

.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

.mobile {
    display: none
}

@media only screen and (min-width: 2570px) {}


@media only screen and (max-width: 400px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .adminRiddleSelectionWrapper {
        width: 100%;
        padding: 0 1rem;
    }

    .flTable, .flTable td {
        font-size: 14px;
    }

    .flTable td, .flTable th {
        padding: 5px;
    }
}