* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.adminRiddleSelectionWrapper {
    position: relative;
    margin: auto;
    width: 60%;
}

.space {
    height: 7rem;
}

.adminRiddleSelection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn {
    composes: btn from "../../../commonCSS/common.css"
}

.tableWrapper {
    overflow: hidden;
    color: black;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 4rem;
}

.flTable {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    background-color: white;
}

.flTable td, .flTable th {
    padding: 8px;
}

.flTable td {
    font-size: 20px;
}

.flTable thead th {
    text-align: center;
    color: #ffffff;
    background: black;
}

.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

@media (max-width: 767px) {
    .flTable {
        display: block;
        width: 100%;
    }

    .tableWrapper:before {
        display: block;
        text-align: right;
        content: "Scroll horizontally >";
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .flTable thead, .flTable tbody, .flTable thead th {
        display: block;
    }

    .flTable thead th:last-child {
        border-bottom: none;
    }

    .flTable thead {
        float: left;
    }

    .flTable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .flTable td, .flTable th {
        text-overflow: ellipsis;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        height: 60px;
        font-size: 13px;
        padding: 20px .625em .625em .625em;
    }

    .flTable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .flTable tbody tr {
        display: table-cell;
    }

    .flTable tbody tr:nth-child(odd) {
        background: none;
    }

    .flTable tr:nth-child(even) {
        background: transparent;
    }

    .flTable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .flTable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .flTable tbody td {
        display: block;
        text-align: center;
    }
}