.addRiddleWapper {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

.addRiddleSection {
    color: black;
    margin: 30px;
    width: 100%;

}

.form {
    display: flex;
    flex-flow: column;
    color: black;
    font-size: 30px;
}

.inputSection {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.inputDiv {
    display: flex;
    flex-flow: column;
    width: 46%;
}


.removeBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;

    margin-top: auto;
}

button {
    border: solid gray 1px;
}


.hide {
    display: none;
}

.validationMsg {
    font-style: italic;
    color: red;
    font-size: 1rem;
}


.incorrect {
    outline-color: red;
    border: solid red 1px;
}

.correct {
    outline-color: green;
    border: solid green 1px;
}

.inputDiv {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.label {
    position: absolute;
    left: 20px;
    top: -14px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: white;
    padding: 0px 4px;
}

.input {
    width: 100%;
    height: 4rem;
    font-size: 22px;
    font-family: "Poppins";
    border-radius: 6px;
    padding: 8px 0px 8px 16px;
}