.riddleItemWrapper {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.riddleItem:hover {
  background-color: rgba(80, 77, 77, 0.1);
}

.riddleItem {
  display: flex;
  width: 80%;
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 20px;
  margin: 1.2rem;
}

.numeration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.numeration>h1 {
  font-family: 'Pacifico', cursive;
  color: black;
}

.btn {
  composes: btn from "../../../commonCSS/common.css"
}

.riddleBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Poppins";
  padding: 1rem;
}

.riddleTitle {
  text-align: left;
  color: black;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 2rem;
}

.additionalInfo {
  display: flex;
}

.additionalInfo>p {
  margin-right: 2rem;
}

.bold {
  font-weight: bold;
}

.mobile {
  display: none
}

@media only screen and (max-width: 400px) {
  .desktop {
    display: none
  }

  .mobile {
    display: block
  }

  .riddleItem {
    flex-direction: column;
    align-items: center;
  }

  .registerSection {
    width: 100%;
    margin-top: 4rem;
  }

  .registerForm {
    width: 85%;
  }

  .numeration>h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
  }

  .riddleDescription>h2 {
    text-align: center;
    text-decoration: underline;
    padding-top: 0;
  }

  .riddleDescription>p {
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
  }

  .bottomRow {
    padding: 0;
  }

  .additionalInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .additionalInfo>p {
    font-size: 18px;
    margin: 0;
  }
}