.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 70vh;
    background-color: white;
    border-radius: 35px;
    margin: 4rem auto;
}

.aboutImg {
    width: 90px;
    height: 90px;
}

.cardSection {
    display: flex;
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: justify;
    padding: 3.7rem;
}

.card>h2 {
    color: black;
    text-transform: none !important;
    font-size: 50px;
    text-align: left;
    font-family: "Pacifico";
    margin-bottom: 1rem;
}

.card>p {
    text-align: justify;
    line-height: 1.1;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.lastSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
    border-radius: 4rem;
    border: 7px solid black;
}

.lastSection>h2 {
    font-size: 60px;
    color: black;
    font-family: "Pacifico";
    text-transform: none !important;
}

.lastSection>p {
    font-size: 30px;
}