.addRiddleWrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.addRiddleSection {
    width: 100%;
    color: black;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-flow: column;
    color: black;
}

.inputSection {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 0px;
}

.removeBtn:hover {
    color: black;
}

.removeBtn {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: -40px;
    margin-top: 2.6rem;
}

.hide {
    display: none;
}

.gameInfo {
    display: flex;
    gap: 2rem;
}

.btnDiv {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.rules {
    composes: rules from '../../../../commonCSS/common.css';
}

.inputDiv {
    composes: inputDiv from '../../../../commonCSS/common.css';
}

.btn {
    composes: btn from '../../../../commonCSS/common.css';
}

.label {
    composes: label from '../../../../commonCSS/common.css';
}

.input {
    composes: input from '../../../../commonCSS/common.css';
}

.textarea {
    height: 10rem;
}

.mobile {
    display: none
}

@media only screen and (min-width: 2570px) {}


@media only screen and (max-width: 400px) {
    .mobile {
        display: block;
    }

    .btnDiv, .row, .mobilePriceDiv {
        display: flex;
        flex-direction: column;
    }

    .removeBtn {
        right: 20px;
    }

    .form, .input, .label, .rules {
        font-size: 14px;
    }

    .mobileQuestion {
        padding-right: 4rem;
    }

    .questionPair {
        color: black;
        padding-bottom: 0;
    }

    .row {
        gap: 0;
    }
}