.imgDots {
  width: 50px;
  height: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.imgDots:hover {
  animation: spin 2s infinite;
}

.row {
  height: 50px;
}

.td1 {
  width: 5%;
  text-align: center;
}

.td2 {
  width: 15%;
}

.td3 {
  text-align: left;
  overflow: hidden;
  width: 65%;
}

.td3>p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px;
}

.td4 {
  text-align: center;
  width: 5%;
}

.td5 {
  text-align: center;
  width: 5%
}

.td6 {
  width: 5%;
}

.mobile {
  display: none
}

.mobile {
  display: none
}

@media only screen and (max-width: 400px) {
  .mobile {
    display: table-row;
  }

  .desktop {
    display: none
  }

  .td2 {
    width: 50%;
  }

  .t4 {
    width: 5%;
  }

  .tdDesc {
    text-align: justify;
    text-overflow: ellipsis;
    height: 100px;
  }

  .tdDesc>p {
    overflow: hidden;
    padding: 2px 5px;
    max-height: 160px;
  }
}