.homeBg {
    display: flex;
    z-index: -1;
    width: 100%;
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-bottom: 5px solid black;
}

.titleSection {
    margin-top: 10rem;
    align-items: left;
    width: 50%;
    height: 100%;
    margin-left: 150px;
}

.homeImgSection {
    width: 50%;
    height: 100%;
}

.homeImg {
    scale: 0.92;
    padding: 3rem 5rem 0rem 0rem;
}

.logoYellow {
    margin-bottom: 4rem;
    width: 60%;
}

.titleBtn {
    width: 200px;
}

.titleBtn, .secondBtn {
    height: 50px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 100;
    color: white;
    background: black;
    border-radius: 30px;
    padding: 8px 50px;
}

.titleBtn {
    margin-top: 7rem;
}

.btn {
    composes: btn from "../../commonCSS/common.css"
}

.secondBtn {
    margin-top: 2rem;
}

.titleP {
    font-size: 124px;
    font-family: 'Pacifico', cursive;
    color: black;
    margin-bottom: 0px;
}

.secondHome {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #FFC814;
}

.sectionImg {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 13rem 0rem 0rem 6rem;
}

.sectionImg>img {
    max-height: 70%;
    max-width: 100%;
}

.sectionDesc {
    padding: 13rem 14rem 0rem 6rem;
    width: 50%;
}

.secondTitle {
    font-size: 65px;
    text-transform: none !important;
    text-align: left;
    color: black;
    font-family: 'Pacifico';
    margin-bottom: 2rem;
}

.sectionDesc>p {
    text-align: justify;
    font-family: "Poppins";
    font-size: 24px;
    color: #000;
}

@media only screen and (min-width: 1925px) {
    .titleSection {
        margin-top: 20rem;
    }

    .sectionDesc {
        margin-top: 10rem;
    }

    .sectionDesc>p {
        font-size: 28px;
    }
}

@media only screen and (min-width: 2570px) {
    .titleSection {
        margin: 40rem 0rem 0rem 20rem;
    }

    .btn {
        margin-top: 5rem
    }

    .sectionDesc {
        margin-top: 15rem;
    }

    .sectionDesc>p {
        font-size: 3rem;
    }

    .titleP {
        font-size: 13rem;
    }

    .secondTitle {
        font-size: 10rem;
    }
}


@media only screen and (max-width: 2570px) {
    .titleSection {
        margin: 40rem 0rem 0rem 20rem;
    }

    .btn {
        margin-top: 5rem
    }

    .sectionDesc {
        margin-top: 15rem;
    }

    .sectionDesc>p {
        font-size: 3rem;
    }

    .titleP {
        font-size: 13rem;
    }

    .secondTitle {
        font-size: 10rem;
    }
}

@media only screen and (max-width: 400px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .homeBg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleSection {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 3rem 0 0 0;
    }

    .logoYellow {
        width: 50%;
    }

    .titleP {
        font-size: 2.7rem;
    }

    .homeImgSection {
        width: 80%;
        height: auto;
    }

    .homeImg {
        padding: 0;
    }

    .btn {
        margin-top: 2rem;
    }

    .sectionDesc {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 0 3rem 0 3rem;
        margin: 1rem 0 0 0;
    }

    .secondTitle {
        text-align: center;
        width: 80%;
        font-size: 3rem;
    }

    .sectionDesc>p {
        font-size: 1rem;
    }

    .secondHome {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sectionImg {
        text-align: center;
        width: 100%;
        padding: 1rem 0 0 0;
    }

    .mobileBtn {
        margin: 0 !important;
    }
}