header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 35px;
  width: 100%;
  height: 100px;
  background-color: #FFC814;
}

.ulNav {
  display: flex;
  list-style: none;
  margin-bottom: 0px !important;
}

.liNav {
  justify-content: space-around;
  padding-right: 1.5rem;
}

.navLink {
  color: black;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 93%;
}

.logo {
  display: flex;
  align-items: center;
}


.logoSvg {
  height: 2.7rem;
  scroll-behavior: smooth;
}

.liNav>a:hover {
  color: white;
}

.mobile {
  display: none
}

@media only screen and (max-width: 426px) {
  .mobile {
    display: block
  }

  .desktop {
    display: none
  }

  .ulNav {
    display: none;
  }

  .navigation {
    width: 100%;
  }

  .logoSvg {
    margin-left: 2rem;
    height: 40px;
  }

  .menuToggle {
    opacity: 0;
  }

  .menuToggle:checked+.menuBtn>span {
    transform: rotate(45deg);
  }

  .menuToggle:checked+.menuBtn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  .menuToggle:checked+.menuBtn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menuToggle:checked~.menuBox {
    right: 0 !important;
  }

  .menuBtn {
    position: fixed;
    top: 50px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }

  .menuBtn>span,
  .menuBtn>span::before,
  .menuBtn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .25s;
  }

  .menuBtn>span::before {
    content: '';
    top: -8px;
  }

  .menuBtn>span::after {
    content: '';
    top: 8px;
  }

  .menuBox {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 170px;
    border-radius: 30px 0 0 30px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffc814;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menuItem {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menuItem:hover {
    background-color: #CFD8DC;
  }

}