.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 5rem;
}

.title {
    font-size: 4rem;
    color: black;
    font-family: "Pacifico";
}

.text {
    width: 60%;
    color: black;
    font-family: "Poppins";
    font-size: 1.5rem;
    margin-top: 1rem;
}

.asset {
    width: 30%;
}