.registerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50vh;
    margin: 3rem auto;
}

.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
    height: 100%;
    color: white;
    padding-top: 30px;
    margin: auto;
}

.registrationTitle {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.loginText {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
}

.loginLink {
    text-decoration: underline;
    color: black;
}

.inputDiv {
    composes: inputDiv from "../../commonCSS/common.css";
}

.input {
    composes: input from "../../commonCSS/common.css";
}

.label {
    composes: label from "../../commonCSS/common.css";
}

.btn {
    composes: btn from "../../commonCSS/common.css";
}

@media only screen and (min-width: 2570px) {
    .registrationTitle {
        font-size: 5rem;
        margin-top: 10rem;
    }

    .label {
        font-size: 2rem;
        top: -30px;
    }

    .input {
        height: 7rem;
        font-size: 2rem;
    }

    .inputDiv {
        margin-bottom: 2rem;
    }

    .btn {
        height: 80px;
        font-size: 3rem;
    }

    .registerText {
        font-size: 2rem;
    }

    .img {
        width: 70%;
        margin-top: 7rem;
    }

    .loginText {
        font-size: 2rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .registerSection {
        margin-top: 4rem;
        width: 100%;
    }

    .registerForm {
        width: 85%;
    }
}