.addRiddleWapper {
    background-color: white;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    border-radius: 20px;
    /* bottom: 50px; */
    /* margin-bottom: 30rem; */
    /* padding-bottom: 30rem; */
}

.addRiddleSection {
    color: black;
    /* border-radius: 20px; */
    margin: 30px;
    width: 100%;

    /* background-color: #4e657a; */
}

.form {
    display: flex;
    flex-flow: column;
    color: black;
    font-size: 30px;
}

.inputSection {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.inputDiv {
    display: flex;
    flex-flow: column;
    width: 46%;
}

.removeBtn:hover {
    color: black;
}

.removeBtn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: auto;
}