.addRiddleWapper {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.addRiddleSection {
    color: black;
    margin: 30px;
    width: 100%;
}

.form {
    display: flex;
    flex-flow: column;
    color: black;
    font-size: 30px;
}

.inputSection {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.inputDiv {
    display: flex;
    flex-flow: column;
    width: 46%;
}

.removeBtn:hover {
    color: black;
}

.removeBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: auto;
}
.devider {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    border: solid black 1px;
    height: 2px;
}

.hide{
    display: none;
}

.validationMsg {
    font-style: italic;
    color: red;
    font-size: 1rem;
}


.incorrect {
    outline-color: red;
    border: solid red 1px;
}

.correct {
    outline-color: green;
    border: solid green 1px;
}