.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50vh;
    margin: 3rem auto;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
    height: 100%;
    color: white;
    padding-top: 30px;
    margin: auto;
}

.loginTitle {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.inputDiv {
    composes: inputDiv from "../../commonCSS/common.css";
}

.input {
    composes: input from "../../commonCSS/common.css";
}

.label {
    composes: label from "../../commonCSS/common.css";
}

.btn {
    composes: btn from "../../commonCSS/common.css";
}

.registerText {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
}

.registerLink {
    text-decoration: underline;
    color: black;
}

.img {
    width: 50%;
    margin-top: 2rem;
}

.mobile {
    display: none;
}

@media only screen and (min-width: 2570px) {
    .loginTitle {
        font-size: 5rem;
        margin-top: 10rem;
    }

    .label {
        font-size: 2rem;
        top: -30px;
    }

    .input {
        height: 7rem;
        font-size: 2rem;
    }

    .inputDiv {
        margin-bottom: 2rem;
    }

    .btn {
        height: 80px;
        font-size: 3rem;
    }

    .registerText {
        font-size: 2rem;
    }

    .img {
        width: 70%;
        margin-top: 7rem;
    }
}


@media only screen and (max-width: 400px) {
    .loginSection {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .loginForm {
        width: 85%;
    }

    .registerText {
        margin-top: 2rem;
    }

}