.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50vh;
    margin: auto;
    margin-top: 3rem;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
    height: 100%;
    color: white;
    padding-top: 30px;
    margin: auto;
}

.inputDiv {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.loginTitle {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.loginInputs {
    width: 100%;
    height: 4rem;
    font-size: 22px;
    font-family: "Poppins";
    border-radius: 6px;
    padding: 8px 0px 8px 16px;
}

.loginLabels {
    position: absolute;
    left: 20px;
    top: -14px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: white;
    padding: 0px 4px;
}

.registerText {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
}

.registerLink {
    text-decoration: underline;
    color: black;
}

.logBtn {
    width: 45%;
    font-family: "Poppins";
    font-size: 35px;
    font-weight: 100;
    color: white;
    background: black;
    border-radius: 30px;
    padding: 0;
    margin-top: 3.5rem;
}

.img {
    margin-top: 2rem;
    width: 50%;
}