.customer {
    /* background-image: url("../public/star-background.jpg");
  height: 100vh;


  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */

    /* background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(0, 152, 155, 1) 0.1%,
        rgba(0, 94, 120, 1) 94.2%
    );
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; */
}
html {
    height: 100%;
}
body{
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
.hide {
    display: none;
}
