.customer{

  background-image: url("../public/star-background.jpg");

  height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hide{
  display: none
}