.catalogueWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.catalogue{
  margin-top: 2rem;
  margin-bottom:  6rem;
  width: 80%;
  min-height: 60vh;
  /* background-color: rgba(27, 31, 36, 0.7); */
  /* box-shadow: 5px 5px 15px 5px #000000; */
}