.startActionWrapper {
    width: 60%;
    background-color: white;
    border-radius: 30px;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;
}

.title {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 3rem;
}

.startActionP {
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins";
}

.btnDiv {
    margin-top: 1rem;
    display: flex;
}

.btn {
    composes: btn from '../../../commonCSS/common.css';
}

.pictureAsset {
    margin-top: 1rem;
    width: 38%;
}