.startActionWrapper {
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: white;
    border-radius: 30px;
    margin: 4rem auto;
}

.title {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 3rem;
}

.startActionP {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins";
    margin-top: 40px;
}

.btnDiv {
    display: flex;
    margin-top: 1rem;
}

.btn {
    composes: btn from '../../../commonCSS/common.css';
}

.pictureAsset {
    width: 38%;
    margin-top: 1rem;
}