.addRiddleWrapper {
    display: flex;
    justify-content: center;
}

.addRiddleSection {
    width: 100%;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-flow: column;
}

.inputDiv {
    composes: inputDiv from '../../../../commonCSS/common.css';
}

.input {
    composes: input from '../../../../commonCSS/common.css';
}

.label {
    z-index: 1;
    composes: label from '../../../../commonCSS/common.css';
}

.rules {
    composes: rules from '../../../../commonCSS/common.css';
}

.btn {
    composes: btn from '../../../../commonCSS/common.css';
}

.dateInputWhapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btnDiv {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.dateInput {
    width: inherit;
    border: 1px solid black !important;
    border-radius: 6px !important;
    padding: 8px 0px 8px 16px !important;
}

.dateInput>div {
    border: none !important;
}

.hide {
    display: none;
}

@media only screen and (min-width: 2570px) {}


@media only screen and (max-width: 400px) {

    .btnDiv, .dateInputWhapper {
        display: flex;
        flex-direction: column;
    }

    .dateInputWhapper {
        gap: 0;
    }

    .form, .input, .label, .rules {
        font-size: 14px;
    }

}