.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    color: black;
    font-size: 29px;
}

.map {
    width: 60%;
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
}

.googleMap {
    position: relative;
    top: -46px;
    border: none;
    width: 100%;
    height: 400px;
}

.info {
    overflow: hidden;
    width: 60%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ededed;
    margin-top: 3rem;
}

.infoTitleDiv {
    border-radius: initial;
    background-color: black;
    padding-left: 3rem;
}

.infoTitleDiv>p {
    font-size: 20px;
    color: white
}

.description {
    margin: 1rem 3rem;
}

.desc {
    font-size: 20px;
    margin-bottom: 2rem;
}

.descP {
    font-size: 20px;
    margin-bottom: 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 3rem;
}

.inputDiv {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.label {
    position: absolute;
    left: 20px;
    top: -14px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: white;
    padding: 0px 4px;
}

.input {
    width: 100%;
    height: 4rem;
    font-size: 20px;
    font-family: "Poppins";
    border-radius: 6px;
    padding: 8px 0px 8px 16px;
}

.checkCode {
    cursor: pointer;
    font-family: "Poppins";
    font-style: italic;
    margin-right: 1rem;
    text-align: right;
}

.inputsDiv {
    width: 50%;
}

.pricing {
    overflow: hidden;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ededed;
}

.priceSummary {
    margin: 1rem 3rem 0rem 3rem;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.horizontalDivider {
    margin-top: 1.5rem;
    width: 100%;
    border: solid black 1px;
}

.paypalBtn {
    margin-top: 3rem;
    height: 4rem;
    width: 35%;
    text-align: center;
}

.loadPaymentBtn {
    font-family: "Poppins";
    padding: 8px 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    background: black;
    border-radius: 30px;
    margin-bottom: 5rem;
}

.textSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.textRight {
    text-align: right;
}

.validLabel, .validInput, .greenText {
    color: green;
}

.validInput {
    border: 2px solid green;
}