.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    color: black;
    font-size: 29px;
}

.map {
    overflow: hidden;
    width: 60%;
    border-radius: 20px;
}

.btn {
    composes: btn from "../../commonCSS/common.css";
    margin-bottom: 5rem
}

.googleMap {
    position: relative;
    width: 100%;
    height: 400px;
    top: -46px;
    border: none;
}

.info {
    overflow: hidden;
    width: 60%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ededed;
    margin-top: 3rem;
}

.infoTitleDiv {
    border-radius: initial;
    background-color: black;
    padding-left: 3rem;
}

.infoTitleDiv>p {
    font-size: 20px;
    color: white;
}

.description {
    margin: 1rem 3rem;
}

.desc {
    font-size: 20px;
    margin-bottom: 2rem;
}

.descP {
    font-size: 20px;
    margin-bottom: 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 3rem;
}

.inputDiv {
    composes: inputDiv from "../../commonCSS/common.css";
    margin-top: 2rem;
}

.label {
    composes: label from "../../commonCSS/common.css";
}

.input {
    composes: input from "../../commonCSS/common.css";
}

.checkCode {
    cursor: pointer;
    text-align: right;
    font-family: "Poppins";
    font-style: italic;
    margin-right: 1rem;
}

.inputsDiv {
    width: 50%;
}

.pricing {
    overflow: hidden;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ededed;
}

.priceSummary {
    margin: 1rem 3rem 0rem 3rem;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.horizontalDivider {
    width: 100%;
    border: solid black 1px;
    margin-top: 1.5rem;
}

.paypalBtnDiv {
    text-align: center;
    width: 35%;
    height: 4rem;
    margin-top: 3rem;
}

.textSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.textRight {
    text-align: right;
}

.validLabel, .validInput, .greenText {
    color: green;
}

.invalidLabel, .invalidInput, .redText {
    color: red;
}

.invalidInput {
    border: 2px solid red;
}

.validInput {
    border: 2px solid green;
}