/* .loginSection {
    width: 30%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
}

.loginForm {
    display: flex;
    flex-flow: column;
    margin: auto;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    color: white;
}
.loginForm>p{
    font-size: 2rem;
}

.loginInputs {
    width: 100%;
    height: 3rem;
    font-size: 2.4rem;
}

.loginLables {
    font-size: 2.4rem;
    margin-top: 1rem;
}

p {
    font-size: 1.3rem;
}

.logBtn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 30px 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.logBtn {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}

.logBtn:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

.hidden{
    display: none 
}

.show{
    display: block
}

.endMsg{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
    font-size: 4rem;
    margin: auto;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 10px;
    
}

.endMsg > p{
    color: white;
    font-size: 4rem;
}


*/
p{
    color: black;
} 

.eventWhapper{
    display:flex;
    justify-content: center;
}


.product{
    margin-top: 5rem;
    width: 70%;
    display:flex;
    justify-content: space-around;
    margin-bottom: 6rem;

}

.checkoutInfo{
    width: 60%;
    
    border-radius: 20px;

    background-color: white;
}
.title{
    color: black;
    margin-top: 4rem;
    margin-left: 3rem;
}
.googleMap{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 91%;
    height: 400px;
}
.discountForm{
    color: black;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
}
.discountFormInput{
    width: 60%;
}
.groupPriceDiv{
    width: 60%;
    display: flex;
    flex-flow: column;
    margin-left: 3rem;
    margin-top: 2rem;

}
.discountCode{
    font-style: italic;
}
.priceInfoDiv{

    width: 100%;
    display:flex;
    justify-content: space-between;

}
.priceInfoDiv> p{
    font-size: 2rem;
}
.bold{
    font-weight: 900;
}
.horizontalDevider{
    /* width: 100%; */
    border: solid black 1px;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}


.loadPaymentBtn{
    width: 100%;
    margin-left: 0;
}

.paypalBtn{
    margin-left: 3rem;
    width: 91%;
}


.riddleInfo{
    height: fit-content;    
    width: 30%;
    border-radius: 20px;

    background-color: white;
}

.riddleInfoP{
    margin: 2rem 2rem;
    font-weight: 400;
    font-size: 2rem;
}